*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1440px;
    background-color: #D5E1EF ;
}
.container {
    background-color: #FFFFFF;
    width: 320px;
    margin-top: 152px;
    margin-left: 560px;
    border-radius: 20px;
    background-image: url('/assets/css/img/grCode-bg.png');
    background-repeat: no-repeat;
    background-position: 16px 16px;
    margin-bottom: 24px;
}
.container img {
    width: 160px;
    margin: 80px;
}
.container h1 {
    width: 288px;
    color: #1F314F;
    font-size: 22px;
    font-weight: 700;
    line-height: 27.72px;
    text-align: center;
    margin-bottom: 12px;
}
.container p {
    color: #7D889E;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 0.1875px;
    text-align: center;
    padding-bottom: 40px;
}